<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Standalone App</title>
</head>
<body>
    <h1>Standalone App</h1>
    <p>Datetime: @DateTime.Now</p>
    <p>
        <img alt="Jack Burton" src="image.png">
    </p>
</body>
</html>